




@model OCMS_project.DTO_s.Userdto
@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/Visitors/Views/Shared/Web_Layout.cshtml";
}

<!-- Register Form -->
<section class="auth-section">
    <div class="auth-container">
        <h2>Create an Account ✨</h2>
        <p>Join OCMS to file and track complaints easily</p>
        <form id="frmregister">
            <input type="text" placeholder="Full Name" required name="FullName">
            <input type="text" placeholder="User Name" required name="UserName">
            <input type="email" placeholder="Enter Email" required name="Email">
            <input type="password" placeholder="Password" required name="Password">
            <button type="button" class="btn" onclick="Signup()">Register</button>
        </form>
        <p class="auth-switch">Already have an account? <a href="/Users/Auth/Login">Login</a></p>
    </div>
</section>


<!-- Add this in your <head> section or before your script -->
<script src="~/adminassets/assets/js/jquery.min.js"></script>
<script>
    function Signup() {
        var formData = new FormData(document.getElementById("frmregister"));

        $.ajax({
            url: '/Users/Auth/AddUser',
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                if (response == 1) {
                    alert("Registration successful!");
                    window.location.href = '/Visitors/Visitor/Index';
                }

                if (response == 2) {
                    alert("Email already exists. Please try again.");
                }

                if (response == 3) {
                    alert("Username already exists. Please try again.");
                }
            },
           
        });
    }
</script>